// Variable
$primary: #008db8;
$secondary: #262626;
$secondary-darker: #007cba;
$white: #ffffff;
$text: #000;
$darker-gary: #7d7d7d;



img {
    height: 3rem;
}

nav {
    // border-bottom: 1px solid $darker-gary;
    background-color: transparent !important;
}


span { 
    padding-left: 5px;
}

