<nav class="navbar navbar-light navbar-expand-lg">
  <div class="container">
    <img class="navbar-brand" [src]="logo" />
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarToggler" 
      aria-controls="navbarToggler" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <div class="d-flex">
        <ul class="nav">
          <li class="nav-item">
            <a 
              class="nav-link text-white" 
              routerLink="/join-as-a-pro"
              [innerHTML]="joinAsAPro"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>