<header>
    <div class="overlay"></div>
    <video autoplay="autoplay" muted="muted" loop="loop">
        <source src="../../../assets/hero-video.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <app-navbar></app-navbar>
            <div class="d-flex h-100 text-center align-items-top pt-8">
            <div class="w-100 text-white">
                <h1 class="display-3 font-weight-500">TV MOUNTING INSTALLATION</h1>
                <p class="lead mb-3">Compare prices & installation costs. Find best deals and compare for free
                    right now!</p>
                <div class="input-group mb-3 w-50 mx-auto">
                    <div class="input-group-prepend d-flex">
                        <span class="input-group-text">
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                    </div>
                    <input 
                        type="text" 
                        class="form-control shadow-none" 
                        placeholder="Zip Code"
                        aria-describedby="basic-addon2"
                    >
                    <div class="input-group-append">
                        <button class="btn shadow-none" type="button">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>