// Variable
$primary: #008db8;
$secondary: #262626;
$secondary-darker: #007cba;
$white: #ffffff;
$text: #000;
$darker-gary: #7d7d7d;

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
  }
}

.input-group {
  button {
    background-color: $primary;
    color: $white;
    border-radius: 0px 2rem 2rem 0;
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: bold;

    &:hover {
      background-color: $secondary-darker;
      color: $white;
    }
  }

  input {
    height: 4rem;
    border-radius: 2rem;
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
  }

  .input-group-text {
    background-color: $white;
    border-radius: 2rem 0 0 2rem;
    height: 4rem;
    font-size: 1.5rem;
  }
}

.form-text {
  padding-left: 2rem;
}

.is-invalid {
  border-color: #dc3545;
  border-left: none;
}

.btn:disabled {
  opacity: 1;
}

// **********MEDIA QUERIES***********

// Galaxy fold
@media only screen and (min-device-width: 280px) and (max-device-width: 319px) {
  video {
    top: 23% !important;
    min-height: 50% !important;
    width: 0% !important;
  }

  .pt-6 {
    padding-top: 10rem !important;
  }

  .overlay {
    opacity: 0 !important;
  }

  form {
    width: 100% !important;
  }

  button {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .form-text {
    font-size: small ;
  }
}
// IPhone 5/SE
@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
  video {
    top: 28% !important;
    min-height: 50% !important;
    width: 0% !important;
  }

  .pt-6 {
    padding-top: 10rem !important;
  }

  .overlay {
    opacity: 0 !important;
  }

  form {
    width: 100% !important;
  }

  button {
    padding-left: 2rem !important;
  }

  .display-3 {
    font-size: calc(1.525rem + 2.3vw) !important;
  }

  .form-text {
    font-size: small !important;
  }

}

// Galaxy S5 & Motorola G4
@media only screen and (min-device-width: 360px) and (max-device-width: 374px) {
  video {
    top: 26% !important;
    min-height: 50% !important;
    width: 0% !important;
  }

  .pt-6 {
    padding-top: 14rem !important;
  }

  .overlay {
    opacity: 0 !important;
  }

  form {
    width: 100% !important;
  }

  button {
    padding-left: 2rem !important;
  }
}

// IPhone 6/7/8 & IPhone X
@media only screen and (min-device-width: 375px) and (max-device-width: 410px) {
  video {
    top: 28% !important;
    min-height: 50% !important;
    width: 0% !important;
  }

  .pt-6 {
    padding-top: 15rem !important;
  }

  .overlay {
    opacity: 0 !important;
  }

  form {
    width: 100% !important;
  }

  button {
    padding-left: 2rem !important;
  }
}

// IPhone X 
@media only screen and (min-device-height: 812px) and (max-device-height: 812px) {
  video {
    top: 22% !important;
  }
}

// Pixel 2 & Pixel 2XL
@media only screen and (min-device-width: 411px) and (max-device-width: 413px) {
  video {
    top: 26% !important;
    min-height: 50% !important;
    width: 0% !important;
  }

  .pt-6 {
    padding-top: 17rem !important;
  }

  .overlay {
    opacity: 0 !important;
  }

  form {
    width: 100% !important;
  }

  button {
    padding-left: 2rem !important;
  }
}

// Pixel 2XL
@media only screen and (min-device-height: 823px) and (max-device-height: 823px) {
  video {
    top: 23% !important;
  }
}

// IPhone 6/7/8 Plus
@media only screen and (min-device-width: 414px) and (max-device-width: 539px) {
  video {
    top: 27% !important;
    min-height: 50% !important;
    width: 0% !important;
  }

  .pt-6 {
    padding-top: 17rem !important;
  }

  .overlay {
    opacity: 0 !important;
  }

  form {
    width: 100% !important;
  }

  button {
    padding-left: 2rem !important;
  }
}

// Surface Duo
@media only screen and (min-device-width: 540px) and (max-device-width: 767px) {
  video {
    top: 32% !important;
    min-height: 50% !important;
    width: 0% !important;
  }

  .pt-6 {
    padding-top: 21rem !important;
  }

  .overlay {
    opacity: 0 !important;
  }

  form {
    width: 100% !important;
  }

  button {
    padding-left: 2rem !important;
  }
}

// IPad 
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .pt-6 {
    padding-top: 11rem !important;
  }

  form {
    width: 70% !important;
  }

  .display-3 {
    font-size: calc(1.525rem + 2.3vw);
  }

  .lead {
    font-size: 1.5rem;
  }

  input {
    padding-left: 6px !important;
  }

  .form-text {
    font-size: medium;
    padding-left: 3rem;
  }

  video {
    top: 50% !important;
  }

}

// IPad pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) {
  .pt-6 {
    padding-top: 15rem !important;
  }

  form {
    width: 70% !important;
  }

  .display-3 {
    font-size: calc(1.525rem + 3.3vw) !important;
  }

  .lead {
    font-size: 2rem;
  }

  input {
    padding-left: 6px !important;
  }

  .form-text {
    font-size: larger;
    padding-left: 3rem;
  }
}