// Variable
$primary: #008db8;
$secondary: #262626;
$secondary-darker: #007cba;
$white: #ffffff;
$text: #000;
$darker-gary: #7d7d7d;

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
  }
}

// Mobile version static image
// @media (pointer: coarse) and (hover: none) {
//   header {
//     background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
//       no-repeat center center scroll;
//   }
//   header video {
//     display: none;
//   }
// }

.input-group {
  button {
    background-color: $primary;
    color: $white;
    border-radius: 0px 2rem 2rem 0;
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;

    &:hover {
      background-color: $secondary-darker;
      color: $white;
    }
  }

  input {
    height: 4rem;
    border-radius: 2rem;
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
  }

  .input-group-text {
    background-color: $white;
    border-radius: 2rem 0 0 2rem;
    height: 4rem;
    font-size: 1.5rem;
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 736px) {
  .w-50 {
    width: 100% !important;
  }
  .pt-8 {
    padding-top: 5rem !important;
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 414px) {
  video {
    top: 24% !important;
    min-height: 50% !important;
    width: 0% !important;
  }

  .pt-8 {
    padding-top: 17rem !important;
  }

  .overlay {
    opacity: 0 !important;
  }
}


@media only screen and (min-device-width: 280px) and (max-device-width: 360px) {
  video {
    top: 24% !important;
    min-height: 50% !important;
    width: 0% !important;
  }

  .pt-8 {
    padding-top: 15rem !important;
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 320px) {
  video {
    top: 24% !important;
    min-height: 50% !important;
    width: 0% !important;
  }

  .pt-8 {
    padding-top: 12rem !important;
  }
}


.form-text {
  padding-left: 2rem;
}

.is-invalid {
  border-color: #dc3545;
  border-left: none;
}

.btn:disabled {
  opacity: 1;
}