<header *ngIf="heroSectionData">
    <div class="overlay"></div>
    <video 
        *ngIf="heroSectionData.isVideo; else heroPicture" 
        loop 
        muted 
        autoplay="autoplay" 
        playsinline 
        oncanplay="this.play()" 
        onloadedmetadata="this.muted = true"
        >
            <source [src]="heroSectionData.video" type="video/mp4">
    </video>
    <ng-template #heroPicture>
        <img [src]="heroSectionData.picture" alt="">
    </ng-template>
    <div class="container h-100">
        <app-navbar></app-navbar>
        <div class="d-flex h-100 text-center align-items-top pt-6">
            <div class="w-100 text-white">
                <h1 class="display-3 font-weight-500 text-capitalize" [innerHTML]="heroSectionData.heading"></h1>
                <p class="lead mb-3 text-capitalize" [innerHTML]="heroSectionData.subHeading"></p>
                <app-zip-code-cta></app-zip-code-cta>
            </div>
        </div>
    </div>
</header>