<header *ngIf="heroSectionData">
    <div class="overlay"></div>
    <video 
        *ngIf="heroSectionData.isVideo; else heroPicture" 
        loop 
        muted 
        autoplay="autoplay" 
        playsinline 
        oncanplay="this.play()" 
        onloadedmetadata="this.muted = true"
        >
            <source [src]="heroSectionData.video" type="video/mp4">
    </video>
    <ng-template #heroPicture>
        <img [src]="heroSectionData.picture" alt="">
    </ng-template>
    <div class="container h-100">
        <app-navbar></app-navbar>
        <div class="d-flex h-100 text-center align-items-top pt-6">
            <div class="w-100 text-white">
                <h1 class="display-3 font-weight-500 text-capitalize" [innerHTML]="heroSectionData.heading"></h1>
                <p class="lead mb-3 text-capitalize" [innerHTML]="heroSectionData.subHeading"></p>    
                <form class="input-group mb-3 w-50 mx-auto" name="form" [formGroup]="form">
                    <div class="input-group-prepend d-flex">
                        <span 
                            class="input-group-text" 
                            [ngClass]="{'is-invalid': form.get('zipCode')!.touched && form.get('zipCode')!.invalid }">
                                <i class="fas fa-map-marker-alt"></i>
                        </span>
                    </div>
                    <input 
                        type="text" 
                        class="form-control shadow-none" 
                        [placeholder]="heroSectionData.zipCodePlaceHolder"
                        formControlName="zipCode"
                        [ngClass]="{'is-invalid': form.get('zipCode')!.touched && form.get('zipCode')!.invalid }"
                    >
                    <div class="input-group-append">
                        <button 
                            class="btn shadow-none" 
                            type="button"
                            [ngClass]="{'is-invalid': form.get('zipCode')!.touched && form.get('zipCode')!.invalid }"
                            [disabled]="form.get('zipCode')!.invalid"
                            [innerHTML]="heroSectionData.ctaBtn"
                            >
                        </button>
                    </div>
                    <div 
                        class="form-text text-white text-start container text-capitalize" 
                        *ngIf="heroSectionData.inputDisclaimer" 
                        [innerHTML]="heroSectionData.inputDisclaimer">
                    </div>
                </form>  
            </div>
        </div>
    </div>
</header>