<section class="container-fluid pt-5 pb-3" *ngIf="featureSectionData">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 lead">
                <span class="separator" [innerHTML]="featureSectionData!.heading"></span>
            </div>
        </div>
        <div class="row text-center pt-5 pb-5" *ngIf="featureItemSectionData">
            <div class="col-md-4" *ngFor="let featureItem of featureItemSectionData;">
                <div class="col p-4">
                    <img [src]="featureItem.icon" [alt]="featureItem.alt || ''">
                </div>
                <div class="col">
                    <p class="text-capitalize fs-5 fw-bold heading" [innerHTML]="featureItem.heading"></p>
                </div>
                <div class="col">
                    <p class="sub-heading" [innerHTML]="featureItem.subHeading"></p>
                </div>
            </div>
        </div>
    </div>
</section>
