// Variable
$primary: #008db8;
$secondary: #262626;
$secondary-darker: #007cba;
$white: #ffffff;
$text: #000;
$darker-gary: #7d7d7d;
$light-gray: #f9f9f9;


.container-fluid {
    background-color: $light-gray;
}

.heading {
    color: $text;
}

.sub-heading {
    color: $darker-gary;
}

.separator {
    display: flex;
    align-items: center;
    color: $darker-gary;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #7d7d7d75;
}

.separator::before {
    margin-right: 1em;
}

.separator::after {
    margin-left: 1em;
}

.cs_card {
    border-radius: 1rem;
}

img {
    height: 250px !important;
    border-radius: 1rem 1rem 0 0;
}

// **********MEDIA QUERIES***********

// Galaxy fold
@media only screen and (min-device-width: 280px) and (max-device-width: 319px) {
    
}
  
// IPhone 5/SE
@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {

}

// Galaxy S5 & Motorola G4
@media only screen and (min-device-width: 360px) and (max-device-width: 374px) {

}

// IPhone 6/7/8 & IPhone X
@media only screen and (min-device-width: 375px) and (max-device-width: 410px) {

}

// Pixel 2 & Pixel 2XL
@media only screen and (min-device-width: 411px) and (max-device-width: 413px) {

}

// IPhone 6/7/8 Plus
@media only screen and (min-device-width: 414px) and (max-device-width: 539px) {

}

// Surface Duo
@media only screen and (min-device-width: 540px) and (max-device-width: 767px) {

}

// IPad 
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {

}

// IPad 
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) {

}