<app-hero [heroSectionData]="heroSectionData"></app-hero>
<app-feature [featureItemSectionData]="featureItemSectionData" [featureSectionData]="featureSectionData"></app-feature>
<app-parallax-scrolling [parallaxScrollingData]="parallaxScrollingData"></app-parallax-scrolling>
<app-company-services [companyServiceSectionData]="companyServiceSectionData" [companyServiceItemSectionData]="companyServiceItemSectionData"></app-company-services>
<app-parallax-scrolling-with-cta [parallaxScrollingWithCtaSectionData]="parallaxScrollingWithCtaSectionData"></app-parallax-scrolling-with-cta>
<app-company-services [companyServiceSectionData]="companyServiceSectionData" [companyServiceItemSectionData]="companyServiceItemSectionData"></app-company-services>
